.first{
    width: 600px;
    height: 200px;
    background-color: forestgreen;
    border-radius: 25px;
    margin-left: 600px;
    transition: 2s;
}
.first:hover{
    background-color: rgb(228, 247, 57);
    transform: translateX(20px);
}
h1{
    position: absolute;
    top: 70px;
    right: 830px;
    font-family: monospace;
    transition: 2s;

}
